/* css */

.wp-block-post-date, .wp-block-post-author, .wp-block-post-terms{
  display: none;
}

a{
  text-decoration:none;
  color:green;
}

li a{
  border:none;
  color:green; inherit;
  text-decoration:none; inherit;
  cursor:pointer;
}

.spaceholder{
  display:block;
  max-height:50px;
  height:50px;
}

.wtable{
  width:100%;
}

.secbox{
  font-size:0.8em;
  display:none;
}

.wdhdtable{
  width:100%;
}
.wdhdcell{
  border:1px solid;
  border-color:lightgray;
  padding:5px;
}

.wtr{
}

.wtd{
}


.plus{
  margin-left:20px;
}

.readonly{
  pointer-events:none;
}

.inputlabel{
  width:30%;
}

.wdhd-content .fullsize{
  width:100%;
}

.inputtext{
  width:100%;
  max-width:100%;
  padding: 10px;
  border-radius:10px;
  margin-top:10px;
  font-family:inherit;
  font-size:inherit;
  font-size:1.1em
}

.inputtexta{
  width:100%;
  max-width:100%;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  font-family:inherit;
  font-size:inherit;
  font-size:1.1em
}

.submitbutton{
  width:100%;
  max-width:100%;
  float:left;
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:20px;
  text-align:center;
  text-decoration:none;
  border-radius:10px;
  font-size:1.2em;
}

.wbutton{
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1.2em;
  border-radius:10px;
}

.wbutton2{
  width:95%;
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:15px 32px;
  text-decoration:none;
  display:inline-block;
  font-size:1.2em;
  border-radius:10px;
}

.pagerform{
  display:inline-flex;
  margin-left:5px;
}

.pagerbutton{
  wwidth:95%;
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:5px 25px;
  text-decoration:none;
  display:inline-block;
  font-size:1em;
  border-radius:5px;
  cursor:pointer;
}

.pagerbutton:disabled{
  color:black;
  background-color:gray;
  cursor:default;
}

.pagerline{
  float:right;
}

.pagerdots{
  padding:10px;
}

.okmessage {
  max-width:100%;
  padding:20px;
  background-color:#04AA6D;
  color:white;
  margin-bottom:20px;
  margin-top:20px;
  border-radius:10px;
}

.errormessage {
  max-width:100%;
  padding:20px;
  background-color:#f44336;
  color:white;
  margin-bottom:20px;
  margin-top:20px;
  border-radius:10px;
}


/* */

