
/* változók beállítása */
:root {
    --headtext: #dedeed !important;
    --headbackg: #000000 !important;
    --foottext: #dedede !important;
    --footbackg: #000000 !important;
    --bodytext: #000000 !important;
    --bodybackg: #dedede !important;
    --bordercolor: #000000 !important;
}
