
/* változók beállítása */
:root {
    --headtext: #dedede !important;
    --headbackg: #4a4a4a !important;
    --foottext: #dedede !important;
    --footbackg: #4a4a4a !important;
    --bodytext: #dedede !important;
    --bodybackg: #000000 !important;
    --bordercolor: #000000 !important;
}
