
Barat {display:block; margin-left:12px; margin-top:10px}
Nev {display:block; margin-left:15px; font-size:14px; font-weight:bold;}
Cim {display:block; margin-left:20px; font-size:12px; }
Telefonszam {display:block; margin-left:20px; font-size:12px; }
E-Mail {display:block; margin-left:20px; font-size:12px; }

