body {
  background-color:#5fa0b4; !important;
}

a, a:link, a:visited,a:active {
  text-decoration:none;
  color:white;
  cursor:pointer;
}

a:hover, .btn:hover, .btn2:hover, .backbtn:hover,
.larrow:hover, .rarrow:hover {
  color:yellow;
  cursor:pointer;
}

.addr {
  width:100%;
  font-size:4em;
  color:white;
  font-weight:bold;
}

.btn {
  background-color:green;
  color:white;
  border:1px solid;
  border-radius:2em;
  margin:0.8em;
  padding:1em;
  width:20em;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1.3em;
}

.btn2 {
  background-color:green;
  color:white;
  border:1px solid;
  border-radius:2em;
  margin:0.8em;
  margin-left:12em;
  padding:1em;
  width:20em;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1.2em;
}

.backbtn {
  background-color:green;
  color:white;
  margin:0;
  border:1px solid;
  border-radius:2em;
  padding:1em;
  width:20em;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1em;
}

.limg {
  margin:auto;
  align:center;
  max-height:73vh;
  border:1px solid black;
  border-color:black;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:1.2em;
}

.colcont {
  display:none;
  mmax-height:0;
  transition: display 1s ease-out;
}

.larrow {
  background-color:green;
  margin:auto;
  margin-top:40vh;
  float:left;
  color:white;
  border:1px solid;
  border-radius:2em;
  padding:0.2em;
  width:2em;
  text-align:center;
  text-decoration:none;
  ddisplay:inline-block;
  font-size:2em;
}

.rarrow {
  background-color:green;
  margin:auto;
  margin-top:40vh;
  float:right;
  color:white;
  border:1px solid;
  border-radius:2em;
  padding:0.2em;
  width:2em;
  text-align:center;
  text-decoration:none;
  ddisplay:inline-block;
  font-size:2em;
}

.fullimg {
  margin:1em;
  align:center;
  max-height:73vh;
  border:1px solid black;
  border-color:white;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  ddisplay:inline-block;
  font-size:1.2em;
  object-fit: fill;
}

.imgtext {
  align:center;
  text-align:center;
  text-decoration:none;
  font-size:1.2em;
}

.col10{
	width:10%;
	float:left;
	padding:0px;
	text-align:center;
}

.col80{
	width:80%;
	float:left;
	padding:0px;
	text-align:center;
}
