<style>

table {
  width:99%; !important
}

label{
  ccolor:red;
}

form {
  display:inline;
  padding-right:5px;
}

#button {
  padding-right:5px;
}

tbody>:nth-child(n):hover {
  background-color: lightgray;
}

.wswdteamspaceholder{
  display:block;
  max-height:2em;
  height:2em;
}

.wswdpagerlineadmin{
  width:99%;
}

.wswdpagerlineadmin2{
  float:right;
}

.wswdapagerdots{
  padding-right:10px;
}

</style>

