  .df_table {
    width:90%;
  }

  .df_trh {
    background-color:blue;
  }

  .df_th1 {
    padding:5px;
    color:#a7a8a8;
    width:60%;
  }

  .df_th2 {
    padding:5px;
    color:#a7a8a8;
    width:20%;
  }

  .df_tr:nth-child(even){
    background-color:grey;
  }

  .df_tr:nth-child(odd) {
    background-color:dimgrey;
    color:black;
  }

  .df_td {
    color:white;
    text-align:left;
    padding:10px;
  }

  .df_td2 {
    color:white;
    text-align:center;
  }

  .df_tds {
    color:red;
  }

  .df_tda {
    text-decoration:none;
    color:white;
  }

  .df_tda2 {
    text-decoration:none;
    font-weight: bold;
    color:red;
  }

  .df_table_full {
    width:100%;
    padding:0px;
  }


.upload-btn-wrapper {
	width:100%;
	position: relative;
	display: inline-block;
	margin-top:15px;
	margin-bottom:15px;
}

.upload-btn {
	color: white;
	border-radius: 4px;
	border: none;
	text-decoration: none;
	width: 100%;
	background-color: #4CAF50;
	padding: 10px;
	font-size:0.9em;
	cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

