/* css */

.wswdteamdiv{
}

.wswdteam_content{
  max-width:60%;
}

a{
  text-decoration:none;
  color:green;
}

li a{
  border:none;
  color:green; inherit;
  text-decoration:none; inherit;
  cursor:pointer;
}

.wp-block-post-date, .wp-block-post-author, .wp-block-post-terms{
  display: none;
}

.wswdspaceholder{
  display:block;
  max-height:2em;
  height:2em;
}

.wswdwbutton{
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  border-radius:10px;
}

.wswdwbutton2{
  width:95%;
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:15px 32px;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  border-radius:10px;
}

.wswdpagerform{
  display:inline-flex;
  margin-left:5px;
}

.wswdpagerbutton{
  wwidth:95%;
  background-color:#04AA6D;
  border:none;
  color:white;
  padding:5px 25px;
  text-decoration:none;
  display:inline-block;
  font-size:1em;
  border-radius:5px;
  cursor:pointer;
}

.wswdpagerbutton:disabled{
  color:black;
  background-color:gray;
  cursor:default;
}

.wswdpagerline{
  float:right;
}

.wswdpagerdots{
  padding:10px;
}


.wswdokmessage {
  padding:20px;
  background-color:#04AA6D;
  color:white;
  margin-bottom:15px;
  border-radius:10px;
}

.wswderrormessage {
  padding:20px;
  background-color:#f44336;
  color:white;
  margin-bottom:15px;
  border-radius:10px;
}

/* */

